<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File info</title>
  </head>
  <body>
    <% if(user && file) {%>
    <h1><%= file.name %></h1>
    <p><%= file.date %></p>
    <p><%= filembsize %>MB</p>
    <% if(image) { %>
    <img src="<%= file.url%>" alt="<%=file.name %>" />
    <%}%>
    <a href="<%= file.url %>" download><button>Download</button></a>
    <%} else {%>
    <h1>Oops, there's nothing to see here. Maybe try logging in or uploading a file first?</h1>
    <%}%>
    <a href="/">Return to the homepage</a>
  </body>
</html>
